<% if defined? new_comment %>
  <div id="new-comment"> &nbsp; </div>
<% end %>

<div class="comment">
  <h2><%= comment.title %></h2>
  <span class="date"><%= comment.created_at %></span>
  <br clear="all" />
  <p><%= comment.comment %></p>
</div>

